/* ~~~~~~~~~~~~~~~~~ Team ~~~~~~~~~~~~~~~~~~ */

/* #teamCard {
    overflow-y: hidden;
    overflow-x: auto;
    height: 300px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#teamCard ::-webkit-scrollbar {
    display: none;
}
 */
#teamCard {
    position: relative;
}

#teamViewMore {
    bottom: 30%;
    left: 50%;
    width: 70%;
    height: 40px;
    transform: translate(-50%);
    position: absolute;
    transition: all 0.9s ease;
    opacity: 0;
}

#teamCard:hover #teamViewMore {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

#teamCard:hover img {
    opacity: 0.3 !important;
}

